<section class="page-wrapper">
  <aside class="aside">
    <a class="aside__link" routerLink="posts">
      Posts
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="aside__link" routerLink="/comments">
      Comments
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="aside__link" routerLink="/albums">
      Albums
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="aside__link" routerLink="/photos">
      Photos
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="aside__link" routerLink="/todos">
      Todos
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
    <a class="aside__link" routerLink="/users">
      Users
      <span class="material-symbols-rounded">chevron_right</span>
    </a>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</section>
