.page-wrapper {
  height: var(--wrapper-height);
  width: var(--wrapper-width);
  padding: 5% 10% 0;


  .post {
    height: 95%;

    &__title {
      width: 50%;
      font-size: 1.8rem;
      margin-bottom: 5%;
    }

    &__body {
      width: 30%;
      font-size: 1.5rem;
      margin-bottom: 20%;
    }

    &__back-btn {
      width: 130px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      border-radius: 5px;
      background-color: rgba(209, 211, 184, .4);
      border: 1px solid rgba(209, 211, 184);
      cursor: pointer;
    }
  }

  .footer {
    height: 5%;
    display: flex;
    align-items: center;
  }
}
